body {
  width: 1300px;
  margin: 0 auto;
  background-color: #F0F0F0;
}


.header{
  background-color: white;
  width: 1275px;
  height: 43px;
  margin: 0 auto;  
  display: flex;
  align-items: center;
}
#search{
  border: 2px solid #4EA3CE  ;
  width:  670px;;
  height: 30px;

}
#logo{
  width: 125px;
  height: 43px;
  margin-right: 80px;
}

#search-icon{
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 72px;
}
#nortify{
  margin: 0 20px 0 20px;
  width:  30px;;
  height: 30px;
}
#shoping-cart{
  margin: 0 20px 0 20px;
  width:  30px;;
  height: 30px;

}
#login{
  margin: 0 20px 0 20px;
  width:  30px;;
  height: 30px;
}

.slide-main {
  margin: 0 auto;
}

.list-type-of-book{
  width: 350px;
  font-size: 15px;
  height: 300px;
  margin-right: 10px;
  margin: 0 auto;
}
.list-type-of-book p{
  background-color: #4EA3CE;
  width: 350px;
  padding: 7px 0 7px 0 ;
  margin: 0 0 15px 0;
  font-size: 22px;
  position: relative;
  bottom: -15px;
  line-height: 30px;
  color: white;
  
}
.list-type-of-book ul{
  background-color: white;
  width: 350px;
  padding: 0;
  list-style-type: none ;
}
.list-type-of-book ul,li{
  list-style-type: none;
  text-align: center;
  line-height: 40px;
  position: relative;;
}
.list-type-of-book ul li a {
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: #1E1E1E;
  font-weight: bold;
}
.list-type-of-book ul li:hover {
  background-color: #7dc6eb;
}
.list-type-of-book .sub-menu{
  position: absolute;
  left: 350px;
  top: 0;
  display: none;
}
.list-type-of-book ul li:hover .sub-menu{
  display: block;
  z-index: 2;
}
.list-type-of-book ul li:hover .sub-menu ul li:hover {
  background-color: #7ABBDA;
}

.list-slide{
  display: flex;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  margin: 0 auto;
  padding-top: 20px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.login-text {
  margin: 20px auto;
  color: #093952;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#user-input {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

}

#password-input {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

}

.button-login {
  margin-top: 20px;
  height: 28px;
  border-radius: 10px;
  border: none;
  background-color: #4EA3CE;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 18px;
}

.sign-up-in-here {
  margin: 20px;
}

.sign-up-link {
  text-decoration: none;
  color: #c71b1b;
}

.sign-up {
  margin: 0 auto;
  padding-top: 20px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.sign-up-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.sign-up-text {
  margin: 20px auto;
  color: #093952;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#user {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#name {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#email {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


#age {
  padding-left: 10px;
  margin-top: 20px;
  height: 27px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#password {
  padding-left: 10px;
  margin-top: 20px;
  height: 25px;
  width: 250px;
  border: 2px solid #4EA3CE  ;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;

}

.button-sign-up {
  margin-top: 20px;
  height: 28px;
  border-radius: 10px;
  border: none;
  background-color: #4EA3CE;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 18px;
}

.sign {
  margin: 20px;
}

.add-book-form {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.add-book-text {
  padding: 20px 80px;
  color: #093952;
  font-size: 35px;
}

.add-form-input {
  display: flex;
  flex-wrap: wrap;
}

.add-input {
  height: 25px;
  margin-left: 10px;
  margin-top: 10px;
  border: 2px solid #4EA3CE  ;
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.add-input-tilte {
  padding: 0px 10px;
}

#name-of-book {
  width: 400px;
}

#author {
  width: 380px;
}

#publishing {
  width: 365px;
}

#price {
  width: 150px;
}

#languages {
  width: 158px;
}

#synopsis {
  width: 890px;
  height: 150px;
}

.synopsis {
  display: flex;
  align-items: flex-start;
}

.synopsis-title {
  padding-top: 2px;
}

.add-book-button {
  width: 950px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.add-book-button button {
  margin: 0 10px;
  height: 28px;
  border-radius: 10px;
  border: none;
  background-color: #4EA3CE;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 18px;
}

.books{
  margin-top: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book{
  height: 300px;
  width: 234px;
}
.name-of-book{
  margin-top: -15px;
  text-decoration: none;
}
.img-book{
  height: 190px;
  width: 190px;
}
.label-menu-book {
  background-color: #77b9da;
  padding: 7px 0 7px 0 ;
  margin: 0 0 10px 12px;
  font-size: 22px;
  position: relative;
  bottom: -15px;
  line-height: 30px;
  color: white;
  width: 1275px;  
}
.trending-book{
  margin-top: 30px;
}
.label-menu-book-infor{
  background-color: #1679aa;
  padding: 7px 0 7px 0 ;
  margin: 0 0 10px 12px;
  font-size: 26px;
  position: relative;
  bottom: -15px;
  line-height: 40px;
  color: white;
  width: 1275px;  
}
.book-infor{
  width: 1275px;
  margin-left: 12px;
  margin-top: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}
.poster-book{
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.poster-book img{
  height: 500px;
  width: 500px;
  border-right: 2px  solid rgb(207, 201, 201);
}
.poster-book button{
  width: 300px;
  height: 40px;
  text-align: center;
  margin: auto;
}
.book-detail{
  margin-left: 30px;
  background-color: white;
  width: 713px;
  padding-left: 30px;
}
.book-detail p{
  font-size: 18px;
}
.book-detail h1 h2 h3 {
  margin-left: auto;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}